.layout {
  display: flex;
  height: 100vh; /* Ensures the layout takes up the full height of the viewport */
}

.sidebar {
  width: 250px; /*Adjust the width based on your sidebar design*/
  position: fixed; /* Fixes the sidebar to the left */
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
}

.main-content {
  flex-grow: 1;
  margin-left: 75px; /* Ensures the content is not hidden behind the sidebar */
  display: flex;
  flex-direction: column;
  /* padding-top: 20px; */
}

.navbar {
  width: 100%;
  /* z-index: 1; Ensures the navbar is on top of the content */
}

.content {
  padding: 20px;
  flex-grow: 1;
  background-color: #f8f9fa; /* Adjust background as needed */
  overflow-y: auto; /* Allows scrolling if the content is too tall */
}
